@import '../../styles/mixins';


        .breadcrumb {
            background: var(--color-header-bg);
            padding: 1rem 1.5rem;
            @include Font($size: 14px);
            //padding-bottom: .875rem;
            @media (max-width: 360px) {
                padding-bottom: 0;
            }
            .item {
                @include Font(.875rem);
                margin: 0 0 .875rem;
            }
        }

        // todo
        //.breadcrumb {
        //    padding-bottom: .875rem;
        //    @media (max-width: 360px) {
        //        padding-bottom: 0;
        //    }
        //    .item {
        //        @include Font(.875rem);
        //        margin: 0 0 .875rem;
        //    }
        //}





