:root{
    --color-menu-button-icon:  #061178;
    --color-task-button-icon:  #2f54eb;
    --color-aside-boxshadow: rgba(0, 0, 0, 0.15);
    --font-color-major: #262626;
    --color-header-bg: #f0f5ff;
    --color-bg-major: #fff;
    --color-bg-setting-btn: #d9d9d9;
    --color-bxs-major: rgba(0, 0, 0, 0.04);
    --color-bxs-download-block: rgba(0, 0, 0, 0.02);
    --color-description-main: #061178;
    --color-text-minor: #8c8c8c;
    --color-bxs-btn-inset: #f0f0f0;
    --enter-page-light-bg: url('./assets/enter page_light.jpg');
    --enter-page-dark-bg: url('/');
    --main-page-light-bg: url('./assets/main_page_light.jpg');
    --main-page-dark-bg: url('/');

    /* Primary Color */
    --geekblue-light-1: #f0f5ff;
    --geekblue-light-2: #d6e4ff;
    --geekblue-light-3: #adc6ff;
    --geekblue-light-4: #85a5ff;
    --geekblue-light-5: #597ef7;
    --geekblue-light-6: #2f54eb;
    --geekblue-light-7: #1d39c4;
    --geekblue-light-8: #10239e;
    --geekblue-light-9: #061178;
    --geekblue-light-10: #030852;
    --geekblue-dark-1: #131629;
    --geekblue-dark-2: #161d40;
    --geekblue-dark-3: #1c2755;
    --geekblue-dark-4: #203175;
    --geekblue-dark-5: #263ea0;
    --geekblue-dark-6: #2b4acb;
    --geekblue-dark-7: #5273e0;
    --geekblue-dark-8: #7f9ef3;
    --geekblue-dark-9: #a8c1f8;
    --geekblue-dark-10: #d2e0fa;

    /* Neutral Color Palette */
    --gray-1: #fff;
    --gray-2: #fafafa;
    --gray-3: #f5f5f5;
    --gray-4: #f0f0f0;
    --gray-5: #d9d9d9;
    --gray-6: #bfbfbf;
    --gray-7: #8c8c8c;
    --gray-8: #595959;
    --gray-9: #434343;
    --gray-10: #262626;
    --gray-11: #1f1f1f;
    --gray-12: #141414;
    --gray-13: #000;
    --primary-text-color: #262626;
    --secondary-text-color: #8c8c8c;
    --disabled-color: #bfbfbf;
    --border-color: #d9d9d9;
    --divider-color: #f0f0f0;
    --background-color: #f5f5f5;
    --table-header-color: #fafafa;

    /* Functional Color */
    --link-color: #2f54eb;
    --form-box-shadow-error-active: '0 0 0 2px rgba(255, 38, 5, 0.06)';
    --form-border-color-error: '1px solid #ff4d4f';
    --form-box-shadow-active: '0 0 0 2px rgba(47, 84, 235, 0.2);';
    --form-border-hover: '1px solid #597ef7;'


}
