@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    src:
    url('src/assets/fonts/Inter-Bold.woff2') format("woff2"),
    url('src/assets/fonts/Inter-Bold.woff') format("woff"),
    url('src/assets/fonts/Inter-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    src:
    url('src/assets/fonts/Inter-Medium.woff') format("woff2"),
    url('src/assets/fonts/Inter-Medium.woff') format("woff"),
    url('src/assets/fonts/Inter-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    src:
    url('src/assets/fonts/Inter-Regular.woff') format("woff2"),
    url('src/assets/fonts/Inter-Regular.woff') format("woff"),
    url('src/assets/fonts/Inter-Regular.ttf') format('truetype');
    font-display: swap;
}


