@mixin Font($size: 1rem, $weight: 400, $line: 1.3, $color: var(--font-color-major)) {
    font: {
        family: 'Inter', sans-serif;
        size: $size;
        weight: $weight;
    }
    color: $color;
    line-height: $line;
}

%inter-700{
    font:{
        family: 'Inter', 'sans-serif';
        weight: 700;

    }
}

.class{
    @extend %inter-700
}
