@import '../../styles/mixins';

:global {
    .ant-modal-mask {
        background: rgba(121, 156, 212, 0.5);
    }
}



div.ant-modal-body {
    padding: 4rem 5.35rem 10.87rem;
    @media(max-width: 575px) {
        padding: 32px 1rem 124px;
    }
}


.wrapper {
    min-height: 100vh;
    background-image: var(--enter-page-light-bg);
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .link{
        display: block;
        padding: 12px 0;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;

        @media(max-width: 575px) {
            margin-bottom: 2.2rem;
            svg {
                width: 203px;
                height: 50px;
            }
        }

    }

    :global {
        .ant-btn-primary {
            background-color: var(--link-color);
            display: block;
            width: 100%;
            margin-bottom: 1rem;

            span {
                @include Font($color: var(--gray-1));
                @media(max-width: 575px) {
                    @include Font($color: var(--gray-1), $size: .875rem);
                }
            }
        }

        .ant-btn-default {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                @include Font();
                @media(max-width: 575px) {
                    :nth-child(1) {
                        display: none;
                    }
                    @include Font($size: .875rem);
                }
            }

        }

        .ant-tabs {
            &-tab {
                justify-content: center;
                width: 50%;

                & + .ant-tabs-tab {
                    margin: 0
                }

                a {
                    @include Font();
                    @media(max-width: 575px) {
                        @include Font($size: .875rem);
                    }
                }


                &-active {
                    .ant-tabs-tab-btn {
                        a.active {
                            color: var(--link-color);
                        }

                    }

                }
            }

            &-ink-bar {
                width: 100%;
                background-color: var(--link-color);
            }

            &-nav-list {
                width: 100%;
            }
        }
    }
}













