@import '../../styles/mixins';

    .main {
        background-image: var(--main-page-light-bg);
        background-size: cover;
        background-position: right;
        padding: 1.5rem 1.5rem 2.625rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @media (max-width: 360px) {
            gap: 1.3rem;
            padding: 1.5rem 15px 2.625rem;
        }

        @media(max-width: 834px) {
            background-position: 55%;
        }

        .content {
            max-width: 47rem;
            flex: 1 1 auto;

            .description {
                @include Font($color: var(--color-description-main));
                box-shadow: 0 2px 0 0 var(--color-bxs-major);
                background: var(--color-bg-major);
                border-radius: 2px;
                padding: 1.5rem 1.5rem .625rem;
                margin: 0 0 1.5rem;
                text-align: left;

                @media (max-width: 360px) {
                    padding: 1rem 1rem 1.5rem;
                }

                .list {
                    list-style-type: none;

                    .item {
                        margin: 0;
                    }
                }
            }

            .definition {
                @include Font($size: 1.25rem, $weight: 500);
                box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
                background: rgb(255, 255, 255);
                border-radius: 2px;
                text-align: left;
                padding: 1.5rem;
                @media (max-width: 360px) {
                    padding: 1rem;
                }
            }

            .tasks {
                display: flex;
                margin-top: 1rem;
                width: 100%;
                gap: 1rem;
                @media(max-width: 800px){
                    flex-wrap: wrap;
                }
                @media (max-width: 360px) {
                    gap:8px;
                }
                .item {
                    border-radius: 2px;
                    background: var(--color-bg-major);
                    display: flex;
                    flex-direction: column;
                    flex-basis: 15rem;
                    @media(max-width: 623px) {
                        flex-basis: 100%;
                    }

                    .title {
                        @include Font();
                        margin: 0;
                        text-align: center;
                        padding: .60rem 1.5rem;
                        @media(max-width: 834px) {
                            text-align: left;
                        }
                        @media(max-width: 450px) {
                            text-align: center;
                        }
                    }

                    .button {
                        @include Font($size: .875rem, $color: var(--color-task-button-icon));
                        box-shadow: inset 0 1px 0 0 var(--color-bxs-btn-inset);
                        margin: 0;
                        padding: 1.8rem 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .bottom_block {
            display: flex;
            justify-content: space-between;
            align-items:  flex-end;

            @media(max-width: 550px) {
                flex-direction: column;
                align-items: center;
                gap: 2rem;
            }

            @media (max-width: 360px) {
                gap: 1.3rem;
            }

            .links_wrapper {
                @media(max-width: 550px) {
                    order: 2;
                }


                .link {
                    @include Font($color: var(--color-task-button-icon));
                    display: block;
                    padding: .5rem 1rem;
                }
            }

            .download_block {
                padding: .75rem 0 0;
                box-shadow: 0 2px 0 0 var(--color-bxs-download-block);
                background: var(--color-bg-major);
                border-radius: 2px;
                border-radius: 0.12rem;
                width: 15rem;
                @media(max-width: 550px) {
                    width: 100%;
                    order: 1;
                }

                .download_section {
                    padding: 0 1.5rem .75rem;
                    @media(max-width: 550px) {
                        display: flex;
                        text-align: center;
                    }

                    .link {
                        @include Font($color: var(--color-task-button-icon));
                    }

                    .text {
                        @include Font($size: .88rem, $color: var(--color-text-minor));
                    }

                }

                .buttons {
                    box-shadow: inset 0 1px 0 0 var(--color-bxs-btn-inset);
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    padding: 0.75rem 0;

                    a {
                        @include Font($size: .88rem);
                        display: flex;
                        padding: 0;
                        justify-content: center;
                        align-items: center;
                    }
                }

            }
        }

    }














