.wrapper{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 90vh;
    &::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
